<div class="card filters">
    <div class="card-header">
        <strong>Filter</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="">From</label>
                <input type="text" placeholder="Min" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="">To</label>
                <input type="text" placeholder="Max" class="form-control">
            </div>

            <button type="button" class="btn btn-primary btn-block mt-3 btn-lg">Filter by price </button>
        </form>
    </div>
</div>